.DS_Store
*~
\#*

awesome/.config/awesome/lain

mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
mpd/.ncmpcpp/error.log

termite/.config/gtk-3.0/settings.ini

vim/.vim/.netrwhist
vim/.vim/bundle/
vim-minimal/.vim/.netrwhist

vscode/
!vscode/.config/Code/User/setttings.json
