!! MISC
! Thanks onodera

! Clickable links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1


!! RICE

! Make minimal
*scrollBar:          false
*internalBorder:     27
*.geometry:          75x24

! Set font
*font:               xft:Hack:size=10
*boldFont:           xft:Hack:size=10
*letterSpace:        -1
*.intensityStyles:   false
