p {
    color: #8fa1b3;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 0px;
}

li {
    display: inline-block;
    margin: 12px;
}
a {
    color: #65737e;
    text-decoration: none;
    transition: .4s;
}
a:hover { color: #2b303b; }

hr {
    border: 0;
    border-top: 1px solid #65737e;
    opacity: .4;
}

body {
    font-family: "Source Sans Pro", Roboto;
}

#page { 
    background: rgba(255, 255, 255, .95);
    box-shadow: 0px 1px 8px #777;
    left: 50%;
    line-height: 1.2;
    padding: 40px;
    position: absolute;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 40%;
}
