# -*- mode: snippet; require-final-newline: nil -*-
# name: React#classComponent
# key: rr
# --
import React from 'react';

class ${1:`(file-name-base)`} extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      $0
    };
  }

  render() {
    return null;
  }
}

export default $1;